.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: #53c28b24;
  border: 2px solid #53c28b;
  padding: 20px;
  border-radius: 20px;
}
.title {
  text-align: center;
  font-size: 28px;
}
.title span:nth-child(1) {
  color: #53c28b;
}
.items {
  text-align: center;
}

.item {
  border-radius: 20px;
  border: 1px solid #555;
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  border: 1px solid #53c28b;
  color: #53c28b;
}
.item:focus {
  border: 1px solid #53c28b;
  color: #53c28b;
  outline: none;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #53c28b;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
.btn:hover {
  background-color: rgb(20, 197, 109);
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}
