.nav {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
.title {
  text-decoration: none;
  color: #53c28b;
  font-weight: bold;
  font-size: 20px;
}
