body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: "center";
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 60px;
}

.light {
  background-color: white;
  color: "#111";
}

.dark {
  background-color: #111;
  color: white;
}
button {
  font-family: inherit;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 10px 20px;
  }
}
