.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  border: 2px solid #53c28b;
  padding: 20px;
  border-radius: 5px;
}

.btn {
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 5px;
  background-color: #53c28b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: block;
}
.btn:hover {
  background-color: rgb(20, 197, 109);
}
.social {
  font-size: 14px;
}
.social a {
  text-decoration: none;
  color: #53c28b;
  margin-left: 3px;
}
